body{
    text-align: center;
    background-color: aqua;
    
}

.menu{
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}





























































































































